h1{
    text-shadow: 3px 3px 3px blue;
    text-shadow: 3px 3px 3px blue, 5px 5px 5px yellow ;

}

.box{
    background-color: blanchedalmond;
    width: 200px;
    height: 150px;
    box-shadow: 10px 12px 15px yellowgreen;
    color: blue;
    box-shadow: 10px 12px 15px yellowgreen, 10px 10px 10px orange;
    box-shadow: -10px -12px 15px yellowgreen, 10px 10px 10px orange;

}